<ui-view>
<h3>Tracks List</h3>
<a class = "btn btn-info pull-right" ng-click="goBack()" ng-if="tracks.searchTracksBoolean">
<span class="glyphicon glyphicon-backward"></span>&nbsp; Back to Tracks </a>
<br>
<br>
<div>
    <div class="input-group">
      <input type="text" class="form-control btn-lg" ng-model="tracks.searchTitle" placeholder="Search Title ...">
	  <span class="input-group-btn">
        <button class="btn btn-default glyphicon glyphicon-search" type="button" ng-click="trackCheck()"></button>
      </span>
    </div>
</div>

<br>
<br>

<div class="panel panel-info">
  <div class="panel-heading text-center">TRACKS</div>

  <table class="table table-responsive table-striped">
	
	<thead>
      <tr>
        <th class="text-center">Track</th>
        <th class="text-center">Genres</th>
        <th class="text-center">Rating</th>
      </tr>		
	</thead>
	
<!-- 	This shows all the songs available -->
	
	<tbody ng-repeat = "track in tracks.tracks.slice(((tracks.currentPage-1)*5), ((tracks.currentPage)*5))"  ng-if="tracks.allTracks">  <!-- For Pagination -->
	<tr> 
<!--         <td>{{track.title}}&nbsp; : &nbsp;{{track.genres}}</td> -->
        <td>
			{{track.title}} - {{track.artist}}
			&nbsp;
			<a  ui-sref="tracks.updateTrack({trackTitle : track.title})"><span class = "glyphicon glyphicon-pencil"></span></a>			
		</td>
        <td>{{track.genres}}</td>
        <td >
			<span class="glyphicon glyphicon-star" ng-repeat="i in rating(track.rating)">&nbsp;</span>
			<span class="glyphicon glyphicon-star-empty" ng-repeat="i in rating(5-track.rating)">&nbsp;</span>
		</td>
      </tr>

	</tbody>
	
<!-- 	This shows the search results -->

	
	<tbody ng-repeat = "track in tracks.searchTracksResult.slice(((tracks.currentPage-1)*5), ((tracks.currentPage)*5))"  ng-if="tracks.searchTracksBoolean">
	<tr>
<!--         <td>{{track.title}}&nbsp; : &nbsp;{{track.genres}}</td> -->
        <td>
		{{track.title}} - {{track.artist}}
		&nbsp;
		<a  ui-sref="tracks.updateTrack({trackTitle : track.title})"><span class = "glyphicon glyphicon-pencil"></span></a>
		</td>
        <td>{{track.genres}}</td>
        <td >
			<span class="glyphicon glyphicon-star" ng-repeat="i in rating(track.rating)">&nbsp;</span>
			<span class="glyphicon glyphicon-star-empty" ng-repeat="i in rating(5-track.rating)">&nbsp;</span>
		</td>
      </tr>
	</tbody>
	
  </table>
  <!-- Pagination for all tracks -->
  <pagination total-items="tracks.tracks.length" ng-if="tracks.allTracks" ng-model="tracks.currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="5"></pagination>
  <!-- Pagination for searched tracks --> 
  <pagination total-items="tracks.searchTracksResult.length" ng-if="tracks.searchTracksBoolean" ng-model="tracks.currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="5"></pagination>
</div>

<br>
<br>
<a ui-sref="tracks.newTrack" class="btn btn-danger btn-lg">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Song
</a>
</ui-view>
